body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  height: 100%;
  margin: 0 25%;
}

header, main {
  background-color: #e77d11;
  text-align: center;
}

article {
  border: solid #f0e7e7;
  padding: 0.5em;
  margin: 1em 5em;
  text-align: left;
}

main {
  color: color: #451804;;
  height: 600px;
  padding: 1em;
}

h1 {
  color:  #f0e7e7 ;
  font-family: 'Roboto Slab', serif;
  font-size: 50px;
  letter-spacing: 0.1rem;
  margin: 0;
  padding: 1rem;
}

hr {
  margin: 0;
}

h2 {
  color: #451804;
  display: inline-block;
  margin: 0;
}

#userInput__item {
  margin: 0.5rem;
  padding-left: 0.5rem;
  height: 3rem;
  width: 50%;
}

#userInput__item::placeholder {
  font-size: 1.5rem;
}

#userInput__button {
  background: #fda600;
  border: none;
  box-shadow: 4px 4px 10px #451804;
  color: #451804;
  height: 3.3rem;
}

.packingList__item-delete {
  background-color: #c1440e;
  border: none;
  box-shadow: 4px 4px 10px #451804;
  color: #451804;
  float: right;
}

.packingList__checkbox {
  color: #451804;
  margin-top: 0.5em;
  text-align: left;
}

.packingList__item-packed {
  vertical-align: top;
}
